node_modules

*.config.js
*.html

.eslintcache
.vscode

build
dist

.DS_Store
.env
.env.*

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*

.prettierignore
.eslintignore